@model CallScheduler.Models.Schedule

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CallId" class="control-label"></label>
                <input asp-for="CallId" class="form-control" readonly="readonly" />
                <span asp-validation-for="CallId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallOrderNumber" class="control-label"></label>
                <input asp-for="CallOrderNumber" class="form-control" readonly="readonly" />
                <span asp-validation-for="CallOrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateToRun" class="control-label"></label>
                <input asp-for="DateToRun" class="form-control" />
                <span asp-validation-for="DateToRun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="badge badge-primary" asp-action="Index">Back to List</a>
</div>

