@model CallScheduler.Models.Incident

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Incident</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IncidentId" class="control-label"></label>
                <input asp-for="IncidentId" class="form-control" />
                <span asp-validation-for="IncidentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncidentType" class="control-label"></label>
                <input asp-for="IncidentType" class="form-control" />
                <span asp-validation-for="IncidentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncidentDescription" class="control-label"></label>
                <input asp-for="IncidentDescription" class="form-control" />
                <span asp-validation-for="IncidentDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

