@model CallScheduler.Models.Part

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Part</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PartCode" class="control-label"></label>
                <input asp-for="PartCode" class="form-control"readonly="readonly" />
                <span asp-validation-for="PartCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownList("machinevariantid", (SelectList)ViewBag.MachineVariants, "Select Machine Variant:",
                          htmlAttributes: new { @id = "machinevariantid", @class = "form-control new-input", @placeholder = "Select Machine Variant:" })

            </div>
            @*<div class="form-group">
            <label asp-for="DateCreated" class="control-label"></label>
            <input asp-for="DateCreated" class="form-control" />
            <span asp-validation-for="DateCreated" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateUpdated" class="control-label"></label>
            <input asp-for="DateUpdated" class="form-control" />
            <span asp-validation-for="DateUpdated" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="badge badge-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
