
@{
    ViewData["Title"] = "Reset Password";
}

<div id="colorlib-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 animate-box" align="center" style="margin-left:10%;margin-top:10%;">
                <h2>Reset Password</h2>

                <form id="reset-password" method="post">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="text" name="Username" id="Username" class="form-control" placeholder="Username" style="text-align:center;">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary" style="width:50%;">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

        });

        $('#reset-password').submit(function (event) {
            console.log("submit!");
            event.preventDefault();

            var data = new FormData();
            data.append("Username", $("#Username").val());

            $.ajax({
                type: 'POST',
                url: '/api/resetpassword',
                contentType: false,
                processData: false,
                data: data,
                success: function (message) {
                    console.log(message);
                    var loginSuccess = message.success;
                    var loginStatus = message.status;
                    if (loginSuccess == true) {
                        $.showMessage(null, "Password reset successful");
                        setTimeout(function () {
                            $('#Username').val('');
                            window.location.href = loginStatus;
                        }, 2000);
                    } else {
                        $.showMessage(null, loginStatus);
                    }
                },
                    error: function () {
                        $.showMessage(null, "An error occurred");
                }
            });
        });
    </script>
}

