@model CallScheduler.Models.InitiatedCall

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>InitiatedCall</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CallOrderNumber" class="control-label"></label>
                <input asp-for="CallOrderNumber" class="form-control" readonly="readonly"/>
                <span asp-validation-for="CallOrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ErrorDescription" class="control-label"></label>
                <input asp-for="ErrorDescription" class="form-control" />
                <span asp-validation-for="ErrorDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ErrorCode" class="control-label"></label>
                <input asp-for="ErrorCode" class="form-control" />
                <span asp-validation-for="ErrorCode" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="badge badge-primary" asp-action="Index">Back to List</a>
</div>

