<div class="modal fade" id="modal-default-alert">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="display:unset;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-center">Default Modal</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $.showMessage = function (title, message, success, callback) {
            var $model = $('#modal-default-alert');
            title = title || success ? 'Action Complete' : 'Alert';
            $model.find('.modal-title').text(title);
            $model.find('.modal-body').text(message);
            var ex = success ? 'modal-success' : 'modal-warning';
            $('#terms').off('hidden.bs.modal');
            if (callback !== null && toString.call(callback) === "[object Function]")
                $('#terms').on('hidden.bs.modal',callback);
            $('#modal-default-alert').modal();
        }
        $.reload = function () {
            location.reload();
            window.location.href = window.location.href;
        }
    });
</script>
